@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// 400
@font-face {
  font-family: 'Lemon milk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/LEMONMILK-Regular.otf') format('opentype');
}
