footer.main {
  background-color: #d8dae0;
  padding: 1.5rem 0 1rem;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    line-height: 2rem;
  }

  ul {
    li {
      display: inline-block;

      a {
        background-color: $color-black;
        border-radius: 3px;
        color: $color-white;
        display: block;
        font-size: 1.5rem;
        padding: 0.3rem;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
