main {
  .container {
    padding: 3rem 0;
    width: $tablet-width;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .lead {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: center;
  }

  .step {
    margin-top: 2rem;
  }
}
