@import "colors.scss";
@import "fonts.scss";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: $full-width;
}

h1,
h2 {
  font-weight: 300;
  margin: 0.5rem 0 1rem;
}

h3 {
  margin: 0.5rem 0 1rem;
}

p,
code {
  display: block;
  margin-bottom: 0.625rem;
}

pre {
  background-color: #dcdcdc;
  font-size: 0.85rem;
  padding: 0.5rem 0.7rem;
}

ul {
  padding-left: 1rem;

  li {
    margin-bottom: 0.5rem;
  }
}

@import "footer";
@import "header";
@import "main";
